.tm-navbar-scrolled {
  background-color: @global-muted-background;

  .uk-navbar-nav>li>a {
    color: @global-color;

    &:hover, &:active {
      background-color: @global-primary-background;
      color: @global-inverse-color;
    }
  }

  .uk-logo {
    background: url("../../images/logo.png") no-repeat;
    background-position: 0 50%;
  }

  .uk-navbar-dropdown {
    background-color: @global-primary-background;
    border-color: @global-primary-background;
    border-radius: 0;
  }
}

.tm-main {
  position: relative;
  height: 100vh;
  min-height: 480px;
  box-sizing: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;

  &::after {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
  }

  .tm-main-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: @global-inverse-color;
    z-index: 2;
    text-align: center;
  }
}

.tm-sub-h1 {
  font-size: @global-large-font-size;
  margin-bottom: 40px;
}

.tm-panel-horizontal {
  position: relative;
  height: 240px;
  box-sizing: border-box;
  background-color: @global-default-background;
  display: block;
  //justify-content: space-between;
  //align-items: flex-end;
  border-radius: 10px;
  line-height: 1.2;

  padding: 40px;
  color: @global-color;
  overflow: hidden;

  .tm-panel-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //-webkit-background-size: cover;
    //background-size: cover;
    //background-position: 50% 50%;
    opacity: 0.5;
    transition: all 500ms;
  }

  .tm-panel-header {
    font-size: @global-large-font-size;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .tm-panel-subheader {
    font-size: @global-medlarge-font-size;
    margin-bottom: 20px;

    span {
      font-weight: bold;
    }
  }

  .tm-panel-place {
    font-size: @global-medium-font-size;
  }

  .tm-panel-controls {

    .uk-button {
      width: 250px;
    }
  }

  &.tm-inverse {
    background-color: #000000;
    color: @global-inverse-color;

    &:hover {
      color: @global-inverse-color;
    }
  }

  &:hover {
    color: @global-color;
    text-decoration: none;

    .tm-panel-bg {
      transform: scale(1.2);
    }
  }
}

.tm-featured {
  background-color: @global-muted-background;
}

.tm-content-right, .tm-content-left {
  position: relative;
  width: 50%;
  z-index: 10;
}

.tm-content-right {
  margin-left: auto;
}

.tm-content-left {
  margin-right: auto;
}

.tm-bg-left, .tm-bg-right {
  position: absolute;
  top: 0;
  bottom: 0;
  //max-height: 100%;
  //max-width: 60%;
}

.tm-bg-left {
  left: 0;
}

.tm-bg-right {
  right: 0;
}

.tm-advertising {
  font-size: @global-large-font-size;

  h2 {
    position: relative;
    font-size: 48px;
    text-transform: uppercase;
    color: @global-color;
    transition: color 1s;

    &::before {
      position: absolute;
      display: block;
      background-color: @global-secondary-background;
      top: 0;
      bottom: 0;
      right: -50px;
      transform: translateX(-5%) skewX(5deg);
      content: '';
      z-index: -1;
      left: 3000px;
      transition: left 1s;
    }

    &.animate-left::before {
      transform: translateX(5%) skewX(-5deg);
      left: -50px;
      right: 3000px;
      transition: right 1s;
    }

    &.animated {
      color: @global-inverse-color;

      &::before {
        left: 0;
      }

      &.animate-left::before {
        left: -50px;
        right: 0;
      }
    }
  }

  p {
    font-size: @global-medium-font-size;
  }
}

